/* My Awesome StyleSheets */
@import url(http://fonts.googleapis.com/css?family=Asap:400,700);
body { font-family: 'Asap'; font-weight: 400; color: #5a5a5a; font-size:12pt; }

.margin-top-60 { margin-top: 60px; }
.margin-top-40 { margin-top: 40px; }

#footer { padding: 5px; background-color: #ccc; position: fixed; bottom: 0px; left: 0px; right: 0px; }
    #footer p { text-shadow: 1px 1px 1px #fff; }